<com.owlplatform.demo.MakerDemoConfig>
  <wmHost>dev1.owlplatform.com</wmHost>
  <wmPort>7010</wmPort>
  <chairId>ece.chair.2963</chairId>
  <welcomeMatId>4X2wvbTunyOK_2021</welcomeMatId>
  <waterId>ece.flood.2960</waterId>
  <walletId>ece.wallet.1112</walletId>
  <keysId>ece.keys.1113</keysId>
  <powerId>ece.power.1114</powerId>
  <logoId>ece.logo.1115</logoId>
</com.owlplatform.demo.MakerDemoConfig>
