<com.owlplatform.demo.MakerDemoConfig>
  <wmHost>raspberry</wmHost>
  <chairId>maker.demo.chair.9</chairId>
  <welcomeMatId>maker.demo.door.6</welcomeMatId>
  <waterId>maker.demo.flood.10</waterId>
  <walletId>maker.demo.wallet</walletId>
  <keysId>maker.demo.keys</keysId>
  <powerId>maker.demo.power.122</powerId>
</com.owlplatform.demo.MakerDemoConfig>
